* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  background-color: var(--Very-Light-Gray);
}

:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: var(--White);
  position: relative;
  z-index: 2;
}

/* Container which contain brand image */
.brand-image {
  margin-left: 4vw;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  color: black;
}

.hamburger-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.last-section {
  background-color: rgb(30, 30, 59);
}

/* ---------------- Mobile view codes are here ------------------------------------------- */

@media (max-width: 900px) {
  .hamburger-button {
    display: flex;
    margin-top: 2vh;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .navbar {
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--White);
    z-index: 2;
  }
  .nav-links {
    background-color: var(--White);
    /* background-color: --Bright-Cyan */
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    border-radius: 5px;
    height: 38vh;
    padding: 20px;
  }
  .nav-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    color: var(--Dark-Blue);
    font-size: 1.2rem;
  }

  /* add dropdown menu in hamburger */

  .nav-links.active {
    display: flex;
    box-shadow: 80px 72px 278px 45px hsl(233, 26%, 24%);
  }

  .button-container {
    display: none;
  }

  .mockups-section {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-Light-Gray);
  }

  .image-mockups {
    background-image: url("./images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-mockups img {
    width: 90%;
    margin-left: 20px;
    position: relative;
    bottom: 68px;
    z-index: 1;
  }

  .nextgen-text {
    display: flex;
    flex-direction: column;
  }

  .nextgen-text h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: var(--Dark-Blue);
  }

  .nextgen-text p {
    line-height: 1.7;
    width: 84vw;
    font-size: 1rem;
    color: var(--Grayish-Blue);
    margin-left: 7vw;
  }

  .button {
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.92rem;
    color: var(--Very-Light-Gray);
    background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 43vw;
    height: 6vh;
  }

  .button-top {
    margin-top: 30px;
    align-self: center;
    margin-right: 31px;
    margin-bottom: 12vh;
  }

  .why-easybank {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--Light-Grayish-Blue);
  }

  .why-heading {
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-top: 78px;
  }

  .we-leverage {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--Grayish-Blue);
  }

  .online-image img {
    margin-top: 50px;
  }

  .headings-features {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--Dark-Blue);
  }

  .para-features {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--Grayish-Blue);
    width: 90vw;
    align-self: center;
  }

  .api-texts {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--Grayish-Blue);
    width: 90vw;
    align-self: center;
    margin-bottom: 60px;
  }

  .latest-articles {
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .all {
    background-color: var(--White);
    border-radius: 7px;
    margin-top: 35px;
    height: 63vh;
  }

  .latest-heading {
    margin-top: 85px;
    font-size: 2.1rem;
    text-align: center;
    font-weight: 300;
    color: var(--Dark-Blue);
  }

  .image-article img {
    width: 90vw;
    height: 30vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .by-name {
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    margin-left: 8vw;
    margin-top: 30px;
  }

  .article-title {
    width: 72vw;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-left: 8vw;
  }

  .article-detail {
    font-size: 0.88rem;
    line-height: 1.4;
    color: var(--Grayish-Blue);
    margin-left: 8vw;
    width: 72vw;
    margin-bottom: 50px;
  }

  .last-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
  }

  .last-logo {
    margin-top: 50px;
    align-self: center;
  }

  .socialmedia-logo {
    display: flex;
    margin-top: 34px;
    width: 47vw;
    justify-content: space-between;
    margin-left: 115px;
  }

  .below-links ul {
    margin-top: 25px;
    margin-right: 50px;
  }

  .below-links li {
    list-style: none;
    padding: 10px;
  }

  .below-links li a {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
  }

  .button-bottom {
    margin-top: 30px;
    align-self: center;
    margin-right: 25px;
  }

  .copyright {
    color: var(--Grayish-Blue);
    margin-top: 50px;
    font-size: 1.2rem;
  }
}

/* ----------------------------------------------Desktop view ---------------------------------------------- */

@media (min-width: 910px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: var(--White);
  }

  .button {
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.92rem;
    color: var(--Very-Light-Gray);
    background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 12.5vw;
    height: 7vh;
  }

  .button:hover {
    filter: brightness(120%);
  }

  .nav-links ul {
    gap: 1vw;
  }

  .nav-links li a {
    color: var(--Grayish-Blue);
    font-size: 0.9rem;
    position: relative;
  }

  .nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 52px;
    height: 4px;
    width: 0;
    background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  }

  .nav-links li a:hover::after {
    width: 100%;
  }

  .mockups-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: var(--Very-Light-Gray);
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 80vw;
    background-position: top -230px right -350px;
    background-repeat: no-repeat;
    height: 70vh;
    align-items: center;
  }

  .image-mockups {
    width: 90%;
    margin-top: 20vh;
    overflow: hidden;
  }
  .image-mockups img {
    position: relative;
    width: 90%;
    left: 12vw;
  }

  .nextgen-text {
    display: flex;
    flex-direction: column;
    width: 55vw;
    margin-left: 150px;
    margin-top: 130px;
  }

  .nextgen-text h1 {
    font-size: 3.5rem;
    font-weight: 100;
    color: var(--Dark-Blue);
    margin-bottom: 10px;
  }

  .nextgen-text p {
    line-height: 1.6;
    font-size: 1.06rem;
    color: var(--Grayish-Blue);
    margin-bottom: 40px;
  }

  .why-easybank {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-top: 150px;
    background-color: var(--Light-Grayish-Blue);
  }

  .whychoose-container {
    width: 51vw;
    margin-left: 150px;
  }

  .why-heading {
    font-size: 2.4rem;
    font-weight: 100;
    color: var(--Dark-Blue);
    margin-top: 78px;
  }

  .we-leverage {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--Grayish-Blue);
  }

  /* online banking, simple budgeting , onboarding etc */

  .features-section {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-left: 140px;
    margin-right: 60px;
    margin-bottom: 100px;
    width: 82vw
  }

  .headings-features {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--Dark-Blue);
    margin-top: 40px;
  }

  .para-features {
    font-size: 0.9rem;
    line-height: 1.7;
    color: var(--Grayish-Blue);
    width: 19vw;
    margin-top: 30px;
  }

  /* latest article section */

  .latest-articles {
    margin-bottom: 80px;
    background-color: var(--Very-Light-Gray);

  }

  .all-article {
    display: flex;
    justify-content: space-evenly;
    margin-left: 130px;
    /* margin-right: 80px; */
    /* padding-left: 80px; */
    width: 83vw;
    
  }

  .all {
    background-color: var(--White);
    margin-top: 35px;
    width: 19vw;
    height: 62vh;
  }

  .image-article img {
    width: 19vw;
    height: 30vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .latest-heading {
    margin-top: 85px;
    margin-left: 150px;
    font-size: 2.35rem;
    font-weight: 300;
    color: var(--Dark-Blue);
  }

  .by-name {
    font-size: 0.7rem;
    color: var(--Grayish-Blue);
    margin-left: 20px;
    margin-top: 25px;
  }

  .article-title {
    width: 14vw;
    font-size: 1rem;
    font-weight: 300;
    color: var(--Dark-Blue);
    margin-left: 20px;
  }

  .article-title:hover {
    color: var(--Lime-Green);
    cursor: pointer;
  }

  .article-detail {
    font-size: 0.8rem;
    line-height: 1.4;
    color: var(--Grayish-Blue);
    margin-left: 20px;
    width: 17vw;
    margin-bottom: 50px;
  }

  .last-section {
    display: flex;
    justify-content: space-around;
    /* padding: 5px; */
    height: 30vh;
  }

  .logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15vw;
    margin-left: 80px;
    margin-top: 10px;
  }

  .socialmedia-logo {
    display: flex;
    /* margin-top: 10px; */
    justify-content: space-around;
    cursor: pointer;
    margin-left: 18px;
  }

  .social-icon:hover {
    fill: var(--Lime-Green);
  }

  .last-logo {
    align-self: center;
  }

  .last-three{
    margin-right: 65px;
  }

  .below-links ul {
    margin-top: 40px;
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
  }

  .below-links li {
    list-style: none;
    padding: 10px;
  }

  .below-links li a {
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    font-size: 0.9rem;
  }

  .below-links li a:hover {
    color: var(--Lime-Green);
  }

  .btn-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 60px;
    margin-top: 20px;
  }

  .copyright {
    color: var(--Grayish-Blue);
    font-size: 1rem;
  }

  .button-bottom {
    align-self: flex-end;
  }
}
